
<body>
    <div class="wrapper">
        <div class="img">
            <img src="assets\giorgio-trovato-LV_4qM5Gf9c-unsplash.jpg">
        </div>
    
        <div class="info">
            <div class="text">
                <h1>AIR JORDAN</h1>
                <h2>by Nike</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Iure, tempora repellendus. 
                </p>
            </div>
            <div class="price-btn">
                <p>
                    <span>R2399.99</span>
                </p>
                <button (click)="addToCart()" [disabled]="inCart"> {{ buttonText }}</button>
            </div>
        </div>
    </div>

    <div class="wrapper2">
        <div class="img">
            <img src="assets\ryan-plomp-76w_eDO1u1E-unsplash.jpg">
        </div>
    
        <div class="info">
            <div class="text">
                <h1>AIR JORDAN 1</h1>
                <h2>by Nike</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Iure, tempora repellendus. 
                </p>
            </div>
            <div class="price-btn">
                <p>
                    <span>R2799.99</span>
                </p>
                <button (click)="addToCart()" [disabled]="inCart"> {{ buttonText }}</button>
            </div>
        </div>
    </div>

    <div class="wrapper3">
        <div class="img">
            <img src="assets\usama-akram-s-gYAbQToXk-unsplash.jpg">
        </div>
    
        <div class="info">
            <div class="text">
                <h1>KYRIE 7's</h1>
                <h2>by Nike</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Iure, tempora repellendus. 
                </p>
            </div>
            <div class="price-btn">
                <p>
                    <span>R3999.99</span>
                </p>
                <button (click)="addToCart()" [disabled]="inCart"> {{ buttonText }}</button>
            </div>
        </div>
    </div>

    <div class="wrapper4">
        <div class="img">
            <img src="assets\usama-akram-g3CMh2nqj_w-unsplash.jpg">
        </div>
    
        <div class="info">
            <div class="text">
                <h1>RUNNING SHOES</h1>
                <h2>by Nike</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Iure, tempora repellendus. 
                </p>
            </div>
            <div class="price-btn">
                <p>
                    <span>R3699.99</span>
                </p>
                <!-- (click)="addToCart()" [disabled]="inCart"> {{ buttonText }}  -->
                <button (click)="addToCart()" [disabled]="inCart"> {{ buttonText }} </button>
            </div>
        </div>
    </div>
 
</body>


